
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* Common and utilities start */
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700px;
    margin: 0;
    padding: 0;
}
/* Common and utilities end */

/* Header Style Start */
.container{
    width: 1440px;
    height: 667px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    background-color:  #2D25A0;
    justify-content: center;
    align-items: center;
    padding: 150px 0 150px;
}
.header-left-side{
    margin-left: 10%;
    margin-right: 4%;
}
.header-right-side{
    margin-right: 4%;
    margin-left: 4%;
}
.heading-title{
    font-size: 64px;
    color: white;
}
.header-icon{
    font-size: 1em;
    color: white;
    font-weight: 500;
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.header-icon:hover{
    transform: scale(2) rotate(360deg) translate(150px);
    transition: transform 2s ease-in-out;
}
.right-arow{
    margin-left: 1%;
}
.header-right-side img{
    width: 100%;
    height: 100%;
}

/* Header Style End */

 /* main section start  */
 .players{
    margin: 5%;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap:30px;
     justify-content: center;
     align-items: center;
 }
.player{
    width: 330px;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 50px gray;
    margin-bottom: 5%;
}
.player .Players-img img{
    width: 300px;
    height: 256px;
    margin: 2% 2% 0;
}
.player .players-name{
    margin-top: 2%;
    margin-left: 2%;
    font-size:28px;
}
.players .players-description{
    margin-top: 2%;
    margin-left: 2%;
    font-weight: 400;
    font-size: 16px;
}
 /* main section end  */

/* footer style start */
footer{
    margin-top: 10%;
}
.footer-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-align img{
    width: 484px;
    height: 110px;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    display: inline-block;
    margin-right: 2%;
    font-size: 25px;
}
.footer-icon p{
    font-size: 18px;
    font-weight: 400;
}
/* footer style end */

/* Media Quary style start  */

/* Mobile devices media quary start */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .container{
        flex-wrap: wrap;
    }
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .players .player{
        margin: 5%;
    }
    footer .footer-icon{
        width: 100%;
    }
    .footer-align img{
        width: 50%;
    }
/* Mobile devices media quary end */
   

/* Media Quary style end  */